name: Deploy CityLab Security

on: 
  push:
    branches: ["main"]
  
  jobs:
    build-and-deploy:
      runs-on: self-hosted

      steps: 
      - name: Check out repository
        uses: actions/checkout@v4
      
      - name: Install Dependecies
        run: |
          python3 -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      
      - name: Restar Application
        run: |
          echo "Reiniciando serviço de segurança..."
          sudp systemctl restart citylab.service